/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/.tsbuildinfo
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/.tsbuildinfo.linter
/application/.preview/default/intermediates/res/default/module_compiled/3436176856223368254
/application/.preview/default/intermediates/res/default/module_compiled/4172928250192077875
/application/.preview/default/intermediates/res/default/app_compiled/4576112077970350830
/application/.preview/default/intermediates/res/default/har_compiled/6424083261580392890
/application/.preview/default/intermediates/res/default/har_compiled/6851830968648987931
/application/.preview/default/intermediates/res/default/module_compiled/7104482213241584721
/application/.preview/default/intermediates/res/default/app_compiled/8153963389690969115
/application/.preview/default/intermediates/res/default/har_compiled/8229745790231654258
/application/.preview/default/intermediates/res/default/har_compiled1/8343897658599455353
/application/.preview/default/intermediates/res/default/har_compiled1/9917258967113887463
/application/.preview/default/intermediates/res/default/module_compiled/11112667522652187540
/application/.preview/default/intermediates/res/default/har_compiled1/12079271546926769238
/application/.preview/default/intermediates/res/default/app_compiled/13064264740196696698
/application/.preview/default/intermediates/res/default/app_compiled/15010111260174955309
/application/.preview/default/intermediates/res/default/module_compiled/15032191440655669595
/application/.preview/default/intermediates/res/default/module_compiled/15082888572507948957
/application/.preview/default/intermediates/res/default/module_compiled/15261777091890906892
/application/.preview/default/intermediates/res/default/module_compiled/17376000698761074206
/application/.preview/default/intermediates/res/default/module_compiled/18193724237561808276
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/compiler.cache/modules/ApplicationAbility.ets-487baf15c03acd549d66a57251eab94b613af6f18cb73fbdee0cd19f2c8472e8.msgpack
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/applicationability/ApplicationAbility.protoBin
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/applicationability/ApplicationAbility.ts
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/compiler.cache/modules/ApplicationBackupAbility.ets-c864c627b3025584087ce07600da0771accd894f164ae1c937392acbc279abe6.msgpack
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/applicationbackupability/ApplicationBackupAbility.protoBin
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/applicationbackupability/ApplicationBackupAbility.ts
/application/.preview/default/intermediates/res/default/resources/base/profile/backup_config.json
/application/.preview/config/buildConfig.json
/application/.preview/default/generated/profile/default/BuildProfile.ets
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/compiler.cache/modules/CommonConstants.ets-87c943d41226fe853db43ea3fe08bf19d3283c2fcd54a1f34c13e8ad7c47f35a.msgpack
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/constants/CommonConstants.protoBin
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/constants/CommonConstants.ts
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/dep_info.json
/application/.preview/fakeuiability/FakeUIAbility.ets
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/compiler.cache/modules/FakeUIAbility.ets-161e88c930ad7f572dbf2f094e3e67a54a0897dcb47bac6089e9f4a04907ddb6.msgpack
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/.preview/fakeuiability/FakeUIAbility.protoBin
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/.preview/fakeuiability/FakeUIAbility.ts
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/filesInfo.txt
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/compiler.cache/modules/FlexPage.ets-72dfe6aaab4e323c4e9b183ad81a0675ddc02e1485fc8971cf4d866068b36202.msgpack
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/pages/FlexPage.protoBin
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/pages/FlexPage.ts
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/compiler.cache/modules/GridPage.ets-0ae19151f496d0f3f32030796c264b13868687c78125e32bf58bc33981f8e7e1.msgpack
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/pages/grid/GridPage.protoBin
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/pages/grid/GridPage.ts
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/compiler.cache/modules/HomePage.ets-c514773a955487331ab884a06a96b1fd2d0b2e7adb6e63acded2602a29473e40.msgpack
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/pages/HomePage.protoBin
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/pages/HomePage.ts
/application/.preview/default/intermediates/res/default/ids_map/id_defined.json
/application/.preview/default/intermediates/res/default/resources/base/media/layered_image.json
/application/.preview/default/intermediates/loader/default/loader.json
/application/.preview/default/intermediates/router_map/default/loader-router-map.json
/application/.preview/default/intermediates/res/default/resources/base/profile/main_pages.json
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/mock-config.json
/application/.preview/default/intermediates/res/default/mock-config.json
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/mock-config.json5
/application/.preview/default/intermediates/merge_profile/default/module.json
/application/.preview/default/intermediates/process_profile/default/module.json
/application/.preview/default/intermediates/res/default/module.json
/application/.preview/default/intermediates/assets/default/ets/modules.abc
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/modules.cache
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/npmEntries.protoBin
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/npmEntries.txt
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/compiler.cache/other/pkgName2SourceRoots.msgpack
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/compiler.cache/plugins/plugins.msgpack
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/preview.ets
/application/.preview/PreviewBuildParam.json
/application/.preview/default/intermediates/res/default/resources.index
/application/.preview/default/generated/r/default/ResourceTable.h
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/ResourceTable.txt
/application/.preview/default/intermediates/res/default/ResourceTable.txt
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/sourceMaps.json
/application/.preview/default/intermediates/assets/default/ets/sourceMaps.map
/application/.preview/default/intermediates/router_map/default/temp-router-map.json
/application/.preview/default/intermediates/share_config/default/temp-share-config.json
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/compiler.cache/modules/UIExampleDataSources.ets-dd251314df68287552a2b3313af4c88c5d72382b1f60ce02c1fd98f92bdbcf2d.msgpack
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/mode/UIExampleDataSources.protoBin
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/mode/UIExampleDataSources.ts
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/compiler.cache/modules/UIExamplePage.ets-9cfa4028f59e58164e75813b3ef99923be7ac6bb67cf6abe4e06e6226ecaae7d.msgpack
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/pages/UIExamplePage.protoBin
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/application/src/main/ets/pages/UIExamplePage.ts
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/debug/watch_logs.cache.json
/application/.preview/default/cache/default/default@PreviewArkTS/esmodule/watchCompiler.tsbuildinfo
